
Preceptron/data/MNIST/raw/t10k-labels-idx1-ubyte
*.pt
Preceptron/data/MNIST/raw/t10k-images-idx3-ubyte
*.gz
Preceptron/data/MNIST/raw/train-images-idx3-ubyte
Preceptron/data/MNIST/raw/train-labels-idx1-ubyte
Preceptron/.ipynb_checkpoints/MultiLayerPreceptron-checkpoint.ipynb
DogCatClassifier/Data/dogs-vs-cats.zip
DogCatClassifier/Data/dogs-vs-cats/sampleSubmission.csv
DogCatClassifier/.ipynb_checkpoints/DogvsCat-checkpoint.ipynb
DogCatClassifier/Data/dogs-vs-cats/test1.zip
MultipleOptimizer/MNIST/raw/train-labels-idx1-ubyte
MultipleOptimizer/MNIST/raw/train-images-idx3-ubyte
MultipleOptimizer/MNIST/raw/t10k-labels-idx1-ubyte
MultipleOptimizer/MNIST/raw/t10k-images-idx3-ubyte
MultipleOptimizer/.ipynb_checkpoints/AdamToSGD-checkpoint.ipynb
*.jpg
DogCatClassifier/Data/dogs-vs-cats/train.zip
BasicOpperations/.ipynb_checkpoints/IntroToPytorch-checkpoint.ipynb
FashionNN/.ipynb_checkpoints/MNIST-checkpoint.ipynb
FashionNN/fashionmnist/fashion-mnist_test.csv
FashionNN/fashionmnist/fashion-mnist_train.csv
Autoencoders/.ipynb_checkpoints/Conv_Autoencoder-checkpoint.ipynb
Autoencoders/.ipynb_checkpoints/UpsamplingAutoencoder-checkpoint.ipynb
Autoencoders/data/FashionMNIST/raw/t10k-images-idx3-ubyte
Autoencoders/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
Autoencoders/data/FashionMNIST/raw/train-images-idx3-ubyte
Autoencoders/data/FashionMNIST/raw/train-labels-idx1-ubyte
Autoencoders/data/MNIST/raw/t10k-images-idx3-ubyte
Autoencoders/data/MNIST/raw/t10k-labels-idx1-ubyte
Autoencoders/data/MNIST/raw/train-images-idx3-ubyte
Autoencoders/data/MNIST/raw/train-labels-idx1-ubyte
Autoencoders/.ipynb_checkpoints/DenoisingAutoencoder-checkpoint.ipynb
Autoencoders/.ipynb_checkpoints/LinearAutoencoder-checkpoint.ipynb
SimpleCNN/.ipynb_checkpoints/CNN-checkpoint.ipynb
SimpleCNN/data/cifar-10-batches-py/batches.meta
SimpleCNN/data/cifar-10-batches-py/data_batch_1
SimpleCNN/data/cifar-10-batches-py/data_batch_2
SimpleCNN/data/cifar-10-batches-py/data_batch_3
SimpleCNN/data/cifar-10-batches-py/data_batch_4
SimpleCNN/data/cifar-10-batches-py/data_batch_5
SimpleCNN/data/cifar-10-batches-py/readme.html
SimpleCNN/data/cifar-10-batches-py/test_batch
SimpleCNN/.ipynb_checkpoints/CNN_Augmentation-checkpoint.ipynb
